[package]
name = "rusty-psn"
version = "0.3.3"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytesize = "1.2.0"
copypasta = "0.8.2"
sha1_smol = "1.0.0"
quick-xml = "0.28.2"

log = "0.4.17"
simplelog = "0.12.1"

clap = { version = "3.2.23", optional = true, features = ["derive"] }
crossterm = { version = "0.26.1", optional = true }

reqwest = { version = "0.11.16", default-features = false, features = ["rustls-tls"] }

rfd = { version = "0.11.3", optional = true }
eframe = { version = "0.21.3", features = ["persistence"], optional = true }
egui-notify = { version = "0.6.0", optional = true }
notify-rust = { version = "4.8.0", optional = true }

poll-promise = { version = "0.2.0", features = ["tokio"] }
serde = { version = "1.0.160", default-features = false, features = ["derive"] }
tokio = { version = "1.27.0", default-features = false, features = ["rt", "io-util", "macros", "fs"] }

[features]
default = ["egui"]
cli = ["clap", "crossterm"]
egui = ["rfd", "eframe", "egui-notify", "notify-rust"]
