[package]
name = "rusty-psn"
version = "0.2.3"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = "0.11.11"
bytesize = "1.1.0"
copypasta = "0.8.1"
sha1_smol = "1.0.0"
serde-xml-rs = "0.6.0"

log = "0.4.17"
simplelog = "0.12.0"

clap = { version = "3.2.19", optional = true, features = ["derive"] }
crossterm = { version = "0.25.0", optional = true }

rfd = { version = "0.10.0", optional = true }
eframe = { version = "0.19.0", features = ["persistence"], optional = true }

poll-promise = { version = "0.1.0", features = ["tokio"] }
serde = { version = "1.0.144", default-features = false, features = ["derive"] }
tokio = { version = "1.20.1", default-features = false, features = ["rt", "io-util", "macros", "fs"] }

[features]
default = ["egui"]
cli = ["clap", "crossterm"]
egui = ["rfd", "eframe"]
