[package]
name = "rusty-psn"
version = "0.2.3"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytesize = "1.1.0"
copypasta = "0.8.1"
sha1_smol = "1.0.0"
serde-xml-rs = "0.6.0"

log = "0.4.17"
simplelog = "0.12.0"

clap = { version = "3.2.22", optional = true, features = ["derive"] }
crossterm = { version = "0.25.0", optional = true }

reqwest = { version = "0.11.11", default-features = false, features = ["rustls-tls"] }

rfd = { version = "0.10.0", optional = true }
eframe = { version = "0.19.0", features = ["persistence"], optional = true }
egui-notify = { version = "0.4.0", optional = true }
notify-rust = { version = "4.5.8", optional = true }

poll-promise = { version = "0.1.0", features = ["tokio"] }
serde = { version = "1.0.144", default-features = false, features = ["derive"] }
tokio = { version = "1.21.1", default-features = false, features = ["rt", "io-util", "macros", "fs"] }

[features]
default = ["egui"]
cli = ["clap", "crossterm"]
egui = ["rfd", "eframe", "egui-notify", "notify-rust"]
