name: rusty-psn Builds

on:
  - push
  - pull_request

jobs:
  build_matrix:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        feature: ["cli", "egui"]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.2.0
        with:
          cache-on-failure: "true"

      - name: Install dependencies
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.feature == 'egui' }}
        run: |
          sudo apt update
          sudo apt-get install libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev libgtk-3-dev

      - name: Build rusty-psn
        run: cargo build --release --no-default-features --features ${{ matrix.feature }}

      - name: Move binary (Linux)
        run: |
          mkdir result
          cp target/release/rusty-psn result

      - name: Move binary (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          mkdir result
          cp target/release/rusty-psn.exe result

      - name: Upload artifact (Linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v3.1.1
        with:
          name: rusty-psn-${{ matrix.feature }}-linux
          path: result

      - name: Upload artifact (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        uses: actions/upload-artifact@v3.1.1
        with:
          name: rusty-psn-${{ matrix.feature }}-windows
          path: result
          